body {
  background-color: #dbc486;
  /* position: fixed; */
  /* top: 0;
  left: 0; */
  width: 95vw;
  padding: 2.5vw;
  margin: 0;
  box-shadow: 0 0 200px rgba(0,0,0,0.75) inset;
}

h1, h2, h3, h4, h5 {
  color: #2d2d2d;
}

p {
  color: #2d2d2d;
}

a {
  color: #006a58;
}

a:focus {
  color: #04987f;
}

a:hover {
  color: #04987f;
}

a:visited {
  color: #00362d;
}

img {
  height: 50vh;
  width: auto;

  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.caption {
  color: #612d11;
}